*
{
	padding: 0;
	margin: 0;

}
.body
{
	background: #FFFFFF;
}
.banner
{
	position: relative;
	width: 100%;	

	background-color:#555555;
	height: 80px;
	overflow: hidden;
	
}
.banner p
{
	display: inline-block;
	position: relative;
	top: 10px;
	padding-top: 11px;
	padding-left: 36px;
    font-family: "微软雅黑";
	font-size: 28px;
	font-weight: bold;
	color: white;
}
.text
{
	padding: 0px;
	margin: 15px;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	box-shadow: 0 0 5px #CCCCCC;
	background-color:#CCCCCC;
	height: 250px;
	overflow: hidden;
}
.text p
{
	font-family: "微软雅黑";
	font-size: 20px;
	padding-top: 10px;
	padding-left: 20px;
}
.active
{
	display: inline-block;
	text-align: center;
	padding-top: 11px;
	padding-left: 36px;
    font-family: "微软雅黑";
	font-size: 20px;
	font-weight: bold;
	color:#CCCCCC;
}
.aCard
{
	background-color: #FFFFFF;
	height: 450px;
	width: 100%;
	
}
.bCard
{
	background-color: #555555;
	height: 400px;
	width: 100%;
	
}
.imf1
{
	border: 1px solid #FFFFFF;
	border-radius: 3px;
	box-shadow: 0 0 5px #555555;
	background-color:#FFFFFF;
	height: 200px;
	width: 500px;
	position: relative;
	left: 20%;
	top: 15%;
	overflow: hidden;
}
.imf1 p
{
	display: inline-block;
	position: relative;
	top: 10px;
	padding-top: 11px;
	padding-left: 28px;
        font-family: "微软雅黑";
	font-size: 28px;
	font-weight: bold;
	color: #555555;
	
}
.headphoto
{
	position: absolute;
	border-radius: 50%;
	width: 100px;
	height: 100px; 
	top: 475px;
	left: 10%;
}

.aCard p
{
	position: relative;
	top: 50%;
	left: 60%;
        font-family: "微软雅黑";
	font-size: 108px;
	font-weight: bold;
	color: #555555;
}
.firstCard
{
	position: relative;
	top: 20px;
	left: 9%;
	width: 80%;
        margin: 15px;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	box-shadow: 0 0 5px #CCCCCC;
	background-color:#555555;
	height: 240px;
	overflow: hidden;

}
.secondCard
{
	position: relative;
	top: 20px;
	left: 9%;
	width: 80%;
    margin: 15px;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	box-shadow: 0 0 5px #CCCCCC;
	background-color:#555555;
	height: 240px;
	overflow: hidden;

}
.thirdCard
{
	position: relative;
	top: 20px;
	left: 9%;
	width: 80%;
    margin: 15px;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	box-shadow: 0 0 5px #CCCCCC;
	background-color:#555555;
	height: 240px;
	overflow: hidden;

}
.firstCard img
{
	width: 300px;
	height: 100%;
}
.secondCard img
{
	width: 300px;
	height: 100%;
}
.thirdCard img
{
	width: 300px;
    height: 100%;
}
.firstCard a
{
	position: absolute;
	left: 55%;
	top: 40%;
    font-family: "微软雅黑";
	font-size: 38px;
	font-weight: bold;
	color: white;
	text-decoration:none
}

.secondCard a
{
	position: absolute;
	left: 55%;
	top: 40%;
    font-family: "微软雅黑";
	font-size: 38px;
	font-weight: bold;
	color: white;
	text-decoration:none
}
.thirdCard a
{
	position: absolute;
	left: 55%;
	top: 40%;
    font-family: "微软雅黑";
	font-size: 38px;
	font-weight: bold;
	color: white;
	text-decoration:none
}
.blank
{
	background-color: #FFFFFF;
	height: 100px;
	width: 100%;
}
.bottom
{

	background-color: #555555;
	height: 80px;
	width: 100%;

	padding-top: 10px;
}
.bottom p
{
	
	position: relative;
	top: 10px;
	padding-top: 15px;
	padding-left: 40%;
    font-family: "微软雅黑";
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
}
